.ua {
  @media screen and (max-width: 767px) {
    height: 80px;
    width: 80px;
    margin-right: 40px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    overflow: hidden;
    border: 0;
    top: 43px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-420px, 0%);
    z-index: 7;
  }
}

.en {
  @media screen and (max-width: 767px) {
    height: 80px;
    width: 80px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    overflow: hidden;
    top: 119px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-474px, 0%);
    z-index: 7;
  }
}
