$title-text-color: #0067c8;
$primary-text-color: #000000;
$secondary-text-color: #808080;
$white-text-color: #ffffff;
$attention-color: #ff0000;
$active-color: #0067c8;
$action-color: #0000ff;
$subtitle-color: #2a5075;
$primary-background-color: #f5f4fa;
$secondary-background-color: #2196f3;
$social-link-color: #afb1b8;
